@model List<EntityFramework.Lab.MVC.Models.ShippersView>

@{
    ViewBag.Tittle = "Shipper Panel";
}


<table class="table table-bordered">
    <thead class="bg-primary">
        <tr>
            <th scope="col">Shipper ID</th>
            <th scope="col">Company Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Update shipper</th>
            <th scope="col">Delete shipper</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.NameOfCompany</td>
                <td>@s.PhoneNumber</td>
                <td class="text-center">
                    @Html.ActionLink("Update", "InsertUpdate", new { id = s.Id }, new { @class = "btn btn-warning btn-sm" })
                </td>
                <td class="text-center">
                    @Html.ActionLink("Delete", "Delete", new { id = s.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("New shipper", "InsertUpdate", "Shippers", new { @class = "btn btn-success" })
    <button class="btn btn-info" style="color: white; background-color: white;">
        @Html.ActionLink("Home", "Index", "Home")
    </button>
</div>

    



