@model List<EntityFramework.Lab.MVC.Models.EmployeeView>
@{
    ViewBag.Title = "Employees list";
}

<table class="table">
    <thead class="bg-primary">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Home Phone</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td class="bg-danger text-center">@employee.Id</td>
                <td class="bg-success text-center">@employee.Name</td>
                <td class="bg-success text-center">@employee.LastName</td>
                <td class="bg-info text-center">@employee.Phone</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = employee.Id }, new { @class = "btn btn-danger btn-sm" })
                    @Html.ActionLink("Update", "Update", new { id = employee.Id }, new { @class = "btn btn-success btn-sm" })
                </td>
            </tr>
        }
    </tbody>

</table>

<div>
    @Html.ActionLink("New Employee", "Create", "Employee", new { @class = "btn btn-info" });
</div>
