@model List<EntityFramework.Lab.MVC.Models.EmployeeView>
@{
    ViewBag.Title = "Employees list";
}

<table class="table">
    <thead class="bg-primary">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Home Phone</th>
            <th scope="col">Update Employee</th>
            <th scope="col">Delete Employee</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.LastName</td>
                <td>@employee.Phone</td>
                <td class="text-center">
                    @Html.ActionLink("Update", "Update", new { id = employee.Id }, new { @class = "btn btn-warning btn-sm" })
                </td>
                <td class="text-center">
                    @Html.ActionLink("Delete", "Delete", new { id = employee.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>

</table>

<div>
    @Html.ActionLink("New Employee", "Create", "Employee", new { @class = "btn btn-success" })
    <button class="btn btn-info" style="color: white; background-color: white;">
        @Html.ActionLink("Home", "Index", "Home")
    </button>
</div>
